
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* Debug */
  background-color: lightgray;
  /* End */

}

div {
  border: 1px solid chocolate;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.content {
  width: 970px;
  margin: 0 auto;
}

/**********************/
/* Navigation Section */
/**********************/

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  height: 70px;
  padding: 0 15px;
}

.top-navigation > .content img {
  height: 70px;
}

.top-navigation .links {
  float: right;
}

.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li {
  display: inline-block;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;  
  margin: 0.5rem 0 0 1.1rem;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/************************/
/* Introduction Section */
/************************/

.introduction {
  background-image: url('../images/background.jpg');
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
}

.introduction .content {
  color: white;
  text-align: center;
}

.introduction h1 {
  margin: 13.5rem 0 0 0;
  font-size: 3.125rem;
}

.introduction h3 {
  font-size: 1.578rem;
}

.introduction h1, .introduction h3 {
  font-weight: 300;
}